[tool.poetry]
name = "nonebot-adapter-onebot"
version = "2.0.0-beta.1"
description = "OneBot(CQHTTP) adapter for nonebot2"
authors = ["yanyongyu <yyy@nonebot.dev>"]
license = "MIT"
readme = "README.md"
homepage = "https://adapter-onebot.netlify.app/"
repository = "https://github.com/nonebot/adapter-onebot"
documentation = "https://adapter-onebot.netlify.app/"
keywords = ["bot", "qq", "qqbot", "coolq", "onebot", "cqhttp"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Framework :: Robot Framework",
  "Framework :: Robot Framework :: Library",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3"
]
packages = [
  { include = "nonebot" }
]

[tool.poetry.dependencies]
python = "^3.7.3"
nonebot2 = "^2.0.0-beta.1"

[tool.poetry.dev-dependencies]
isort = "^5.10.1"
black = "^21.11b1"
pytest-cov = "^3.0.0"
nonebug = { git = "https://github.com/nonebot/nonebug.git" }
nonebot2 = { git = "https://github.com/nonebot/nonebot2.git", branch = "dev" }

# [[tool.poetry.source]]
# name = "aliyun"
# url = "https://mirrors.aliyun.com/pypi/simple/"
# default = true

[tool.pytest.ini_options]
addopts = "--cov nonebot.adapters.onebot --cov-report term-missing"

[tool.black]
line-length = 88
target-version = ["py37", "py38", "py39", "py310"]
include = '\.pyi?$'
extend-exclude = '''
'''

[tool.isort]
profile = "black"
line_length = 80
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
